---

import {Image} from 'astro:assets';
import SiteLayout from '../layouts/SiteLayout.astro';
import ResumeSummaryCard from '../components/ResumeSummaryCard.astro';
import {type MainNavigationLinksMetadata} from '../types/MainNavigationLinkTypes';
import SkillsCard from '../components/SkillsCard.astro';
import CoryLarcadeWearingHatImage from '../images/Cory-Larcade-wearing-a-hat.png';
import {skillsData} from '../data/skills-data';
import {educationHistory} from '../data/educationHistory-data';
import {workHistory} from '../data/employerHistory-data';
import EmployerHistory from '../components/EmployerHistory/EmployerHistory.astro';
import EducationHistory from '../components/EducationHistory.astro';

const mainNavigationLinksMetadata: MainNavigationLinksMetadata = {
	links: [
		{
			label: 'Resume',
			link: '/',
		},
		{
			label: 'Projects',
			link: '/projects',
		},
		{
			label: 'Contact',
			link: '/contact',
		},
	],
	selectedLinkByPath: '/',
};
const subtitleItemList = [
	'Software Engineer',
	'Web Developer',
	'Frontend',
	'Fullstack',
	'Native American',
];
---

<SiteLayout
	title='Cory Larcade Resume'
	mainNavigationMetadata={mainNavigationLinksMetadata}
>
	<main class='resume'>
		<section
			id='about-me-section'
			class='resume__section'
		>
			<h1 class='resume__name'>Cory Larcade</h1>

			<div class='resume__subtitle'>
				{subtitleItemList.map((text, i) => (
					<>
						<div class='resume__subtitle__text'>{text}</div>
						{i !== subtitleItemList.length - 1 && (
							<div class='resume__subtitle__divider' />
						)}
					</>
				))}
			</div>

			<div class='resume__profile-pic-container'>
				<div class='resume__profile-pic'>
					<Image
						src={CoryLarcadeWearingHatImage}
						width='300'
						height='416'
						format='webp'
						alt='Cory Larcade wearing a hat'
					/>
				</div>
			</div>

			<div class='resume__content-container'>
				<p class='resume__paragraph'>Hi! My name's Cory. I'm a Full-stack Engineer and I specialize in frontend development. That means if you're looking for someone to build a beautiful website that users love, you've come to the right place because that's what I do. But let's not forget the following because they're important too:</p>

				<ul class='resume__list'>
					<li class='resume__list__item'>Scalable</li>
					<li class='resume__list__item'>SEO (search engine optimization)</li>
					<li class='resume__list__item'>Accessibility (A11y)</li>
					<li class='resume__list__item'>Responsive Design</li>
					<li class='resume__list__item'>Mobile-first</li>
					<li class='resume__list__item'>Globalization and Localization (L10n)</li>
				</ul>

				<p class='resume__paragraph'>I'd love to work with you so reach out if you're interested!</p>
			</div>
		</section>

		<section
			id='summary-section'
			class='resume__section'
		>
			<h2 class='resume__section__title'>Resume Summary</h2>

			<div class='resume__section__summary-card-container'>
				<ResumeSummaryCard />
			</div>
		</section>

		<section
			id='skillset-section'
			class='resume__section'
		>
			<h2 class='resume__section__title'>Skill set</h2>

			{skillsData.map((skillData) => (
				<div class='resume__skills'>
					<div class='resume__skills__title-container'>
						<h3 class='resume__skills__title'>{skillData.title}</h3>
					</div>

					<div class='resume__skills__card-container'>
						<SkillsCard data={skillData} />
					</div>
				</div>
			))}
		</section>

		<section
			id='skillset-section'
			class='resume__section'
		>
			<h2 class='resume__section__title'>Work Experience</h2>

			{workHistory.map((employerMetadata) => (
				<div class='resume__employer-history-container'>
					<EmployerHistory data={employerMetadata} />
				</div>
			))}
		</section>

		<section
			id='skillset-section'
			class='resume__section'
		>
			<h2 class='resume__section__title'>Education</h2>

			{educationHistory.map((educationMetadata) => (
				<div class='resume__education-history-container'>
					<EducationHistory data={educationMetadata} />
				</div>
			))}
		</section>
	</main>
</SiteLayout>

<style lang='scss'>

	@use '../styles/typography';

	.resume {
		padding: 0 10px;
		max-width: 600px;
		margin: 0 auto;

		&__section {
			margin-top: 40px;

			&__title {
				font-size: typography.$mobile-font-size--L;
				text-align: center;
			}

			&__summary-card-container {
				margin-top: 40px;
			}
		}

		&__skills {
			margin-top: 40px;

			&__title-container {
				display: flex;
				justify-content: center;
			}

			&__title {
				border-bottom: solid 2px var(--gray-200);
				font-size: typography.$mobile-font-size--ML;
			}

			&__card-container {
				margin-top: 20px;
			}
		}

		&__name {
			font-size: typography.$mobile-font-size--XL;
		}

		&__subtitle {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 20px;

			&__text {
				font-size: typography.$mobile-font-size--S;
				font-weight: 700;
			}

			&__divider {
				border-left: 2px solid var(--gray-0);
			  height: 21px;
				margin: 0 15px;
			}
		}

		&__profile-pic-container {
			display: flex;
			justify-content: center;
			margin-top: 20px;
		}
		&__profile-pic {
		}

		&__content-container {
			margin-top: 20px;
		}

		&__list {
			margin-top: 10px;

			&__item {}
		}

		&__paragraph {
			margin-top: 10px;

			&__text {
				display: inline-flex;
			}

			&:first-of-type {
				margin-top: 0;
			}
		}

		&__icon-container {
			display: inline-flex;
			align-items: center;

			:global(svg) {
				display: inline-flex;
			}
		}

		&__employer-history-container {
			margin-top: 40px;
		}

		&__education-history-container {
			margin-top: 40px;
		}
	}

</style>
